<div class="col-md-6">
  <select (change)="onChangeLow($event.target.value)" class="form-control filter">
    <option value="all" selected>Show All</option>
    <option value="low">Show Low</option>
    <option value="notLow">Show Not Low</option>
  </select>
</div>
<div class="col-md-6">
  <select (change)="onChangeAlc($event.target.value)" class="form-control filter">
    <option value="high">Show No Work Tomorrow!</option>
    <option value="medium">Show Average Buzz</option>
    <option value="low">Show Just Sippin'</option>
    <option value="all" selected="selected">Show all</option>
  </select>
</div>

<beer-display *ngFor="#currentBeer of beerList | low:filterLow | alc:filterAlc"
  (click)="beerClicked(currentBeer)"
  [class.high]="currentBeer.price >= 12"
  [class.medium]="currentBeer.price >= 8 && currentBeer.price < 12"
  [class.low]="currentBeer.price < 8"
  [class.selected]="currentBeer === selectedBeer"
  [beer]="currentBeer">
</beer-display>
<div>
  <edit-beer-details *ngIf="selectedBeer" [beer]="selectedBeer">
  </edit-beer-details>
</div>
<div>
  <new-beer (onSubmitNewBeer)="createBeer($event)"></new-beer>
</div>
