<div class="col-md-6">
  <select (change)="onChangeLow($event.target.value)" class="form-control filter">
    <option value="all">Show All</option>
    <option value="low">Show Low</option>
    <option value="notLow" selected="selected">Show Not Low</option>
  </select>
</div>
<div class="col-md-6">
  <select (change)="onChangeAlc($event.target.value)" class="form-control filter">
    <option value="home">Show Home</option>
    <option value="work">Show Work</option>
    <option value="hobby">Show Hobby</option>
    <option value="all" selected="selected">Show all</option>
  </select>
</div>

<beer-display *ngFor="#currentBeer of beerList | low:filterLow | alc:filterAlc"
  (click)="beerClicked(currentBeer)"
  [class.high]="currentBeer.priority === 'high'"
  [class.medium]="currentBeer.priority === 'medium'"
  [class.low]="currentBeer.priority === 'low'"
  [class.selected]="currentBeer === selectedBeer"
  [beer]="currentBeer">
</beer-display>
<edit-beer-details *ngIf="selectedBeer" [beer]="selectedBeer">
</edit-beer-details>
<new-beer (onSubmitNewBeer)="createBeer($event)"></new-beer>
