$darkgray : #333;
$gray : #d3d3d3;
$selected : #22bdf0;
$high : #CC0000;
$medium : #E59400;
$low : #008000;

body{
  background-color: $darkgray; 
}
.selected {
  h3{
    color: $selected !important;
  }
}
.high {
  h3{
    color: $high !important;
  }
}
.medium {
  h3{
    color: $medium !important;
  }
}
.low {
  h3{
    color: $low !important;
  }
}
.jumbotron{
  height: 15vh;
  margin-bottom: 0;
  h1{
    text-align: center;
  }


}
.container{
  height: 85vh;
  margin-top: 0;
  h1, h2, h3{
    color: $gray;
  }
  h3{
    font-size: 20px;
  }
  background-color: $darkgray;

  input, select{
    width: 100%;
  }

}
.add-button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.inline {
  display: inline-block;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}
.header{
  font-size: 5vmin;
  text-align: center;
}
.clearBoth { clear:both; }
